.home {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(../../../public/assets/images/background.png) no-repeat center
    center fixed;
}

.home .landing {
  text-align: center;
  font-size: 1.4em;
  padding: 0 15px;
  margin-top: 100px;
}

.home .landing .text .colored {
  color: #a8ff35;
}

.home .landing .smallText {
  font-size: 0.6em;
  color: #8b8b8bd3;
  width: 85%;
  margin: 10px auto;
}

.home .getStarted {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .getStarted .start {
  position: relative;
}

.home .getStarted .start .button {
  padding: 14px 38px;
  border-radius: 40px;
  background: #a8ff35;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
}

.home .getStarted .start .info {
  top: 40px;
  left: 190px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25%;
}

.home .getStarted .start .info .text {
  position: absolute;
  top: -35px;
  left: -6px;
  font-family: "Pacifico", cursive;
  margin-left: -20px;
  text-align: center;
  width: 135px;
  color: #c7c7c7ef;
  font-size: 0.9em;
}

.home .quickButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 25px 0;
  height: 130px;
  padding: 0px 10px;
}

.home .quickButtons .button {
  background: #181818;
  padding: 10px 18px;
  border-radius: 8px;
}

.home .quickButtons .button a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  text-decoration: none;
  color: #fff;
}

.home .quickButtons .button a svg {
  width: 30px;
  height: 30px;
}

/* Categories */

.categories {
  height: 100vh;
  width: 100%;
  background: #83c928;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media Queries */

@media screen and (max-width: 480px) {
  .home .getStarted .start .info {
    display: none;
  }
}
