.header {
  position: fixed;
  width: 100%;
  padding: 0 80px;
  height: 80px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 200ms all;
  z-index: 999;
}

.header.scrolled {
  backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.212);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.212);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.212);
}

.header .brand {
  font-family: "Berkshire Swash", cursive;
  height: 100%;
}

.header .brand a {
  color: rgb(238, 238, 238);
  text-decoration: none;
  display: flex;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.8em;
}

.header .brand a svg {
  width: 40px;
  height: 40px;
}

.header nav .navList {
  list-style: none;
  display: flex;
  gap: 25px;
  height: 100%;
  display: flex;
  align-items: center;
}

.header nav .navList li a {
  text-decoration: none;
  color: #fff;
  transition: 200ms opacity ease;
  font-weight: 500;
}

.header nav .navList li a:hover {
  opacity: 0.8;
}

.header nav .navList li .contact {
  background: #fff;
  color: #000;
  padding: 6px 12px;
  border-radius: 8px;
}

.header .mobileMenu {
  display: none;
  z-index: 999;
}

.header .mobileMenu button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Mobile Menu */

.header .activeMenu {
  position: absolute;
  top: 0;
  left: 3000px;
  animation: animateMenu 500ms forwards;
  width: 100%;
  height: 100vh;
  background: #000000;
}

.header .activeMenu ul {
  list-style: none;
  gap: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .activeMenu ul li {
  padding: 10px;
}

.header .activeMenu ul li a {
  font-size: 1.5em;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  border-bottom: 1px solid rgba(182, 182, 182, 0.178);
  transition: 200ms all;
}

.header .activeMenu ul li a:hover {
  color: rgb(226, 226, 226);
  border-bottom: 1px solid rgba(182, 182, 182, 0.349);
}

@keyframes animateMenu {
  from {
    left: 3000px;
  }
  to {
    left: 0;
  }
}

/* Media Queries */

@media screen and (max-width: 1035px) {
  .header {
    padding: 0 20px;
  }
}

@media screen and (max-width: 890px) {
  .header .brand a h1 {
    font-size: 1.8em;
  }
  .header nav .navList {
    gap: 15px;
    font-size: 15px;
  }
}

@media screen and (max-width: 780px) {
  .header .brand a h1 {
    font-size: 1.7em;
  }
  .header nav .navList {
    gap: 12px;
    font-size: 14px;
  }
}

@media screen and (max-width: 730px) {
  .header nav {
    display: none;
  }
  .header .mobileMenu {
    display: block;
  }
}
